In [6]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [27]:
series_obj = Series(np.arange(8))
series_obj

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
dtype: int32

In [18]:
series_obj[[0,7]]

0    0
7    7
dtype: int32

In [22]:
np.random.seed(25)
DF_obj  = pd.DataFrame(np.random.rand(36).reshape(6,6))
DF_obj

          0         1         2         3         4         5
0  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
1  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
2  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
3  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
4  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
5  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

In [23]:
DF_obj.loc[[1,3],[1,3]] #r1,r3,c1,c3

          1         3
1  0.437611  0.367080
3  0.836375  0.516502

##### Data Slicing

DF_obj[2:5]

In [36]:
series_obj[2:5]

2    2
3    3
4    4
dtype: int32

In [16]:
series_obj[7]

7

In [ ]:
## Comparing with scalars

In [26]:
DF_obj < 0.2

       0      1      2      3      4      5
0  False  False  False   True  False   True
1  False  False  False  False  False   True
2  False  False   True  False  False  False
3  False  False  False  False  False  False
4  False  False   True  False  False  False
5  False  False  False  False  False  False

In [28]:
series_obj[series_obj > 3]

4    4
5    5
6    6
7    7
dtype: int32

In [39]:
series_obj[[0,2,4]] = 2
series_obj

0    2
1    1
2    2
3    3
4    2
5    5
6    6
7    7
dtype: int32